/* font downloaded from https://www.dafont.com/saiyan-sans.font */
@font-face {
    font-family: saiyan_sans;
    src: url(../fonts/saiyan_sans/Saiyan-Sans.ttf);
  }

html, body {
    width: 100%;
    height: 100%;
}
body {
    font-family: saiyan_sans;
    background-color: orange;
    text-align: center;
}

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 2rem;
}

p {
    font-size: 1.5rem;
}

.header {
    text-align: center;

}

.dragon {
    color: yellow;
    font-size: 5.5rem;
}

.ball-z {
    color: red;
    font-size: 5rem;
    word-spacing: -2rem;
}

.content {
    /* background-color: black; */
    height: auto;
    margin: auto;
    padding: 3rem 0 0 0;
}

.doubleLineHeight {
    line-height: 200%;
}

.textColorBlue {
    color: blue;
}

.blackTextBorder {
    text-shadow: -2px 0 black, 4px 2px black, 4px -2px black, 0 -2px black;
}

.smSquareImage {
    height: 150px;
    width: 150px;
}

.dragonBall-images {
    margin: 6rem auto auto auto;
}

.opacityZero {
    opacity: 0;
}
